.piedepagina {
    width: 100%;
    background-color: #3b3b42;
}

.piedepagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.piedepagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piedepagina .grupo1 .box figure img {
    width: 200px;
}
.piedepagina .grupo1  .box h3 {
    color: #fdfdfd;
    margin-bottom: 25px;
    font-size: 20 px;
}
.piedepagina .grupo1 .box .enlaces a{
    color: #fdfdfd;
    margin-bottom: 10px;
    display:flex;

}
.piedepagina .grupo1 .box .redsocial a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fdfdfd;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center ;
    
}
.piedepagina .grupo2 {
    background-color: #232327;
    padding: 15px 10 px;
    text-align: center;
    color: #fff;
}
.piedepagina .grupo2 {
    font-size: 15px;
}
@media screen and (max-width: 800px){
    .piedepagina .grupo1 {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;

    
    }
}

/* pagina contacto */

.contacto1 {
    background-color: #af9696;
}
.lista {
    list-style-type: none;
}