/* ********** RESET STYLES *********** */
body {
  font-family: "Raleway", sans-serif;
}

/* ********* Bootstrap Styles*********** bg-body-tertiary*/
.navbar-nav:hover {
}
.navbar-brand img {
  width: auto;
  height: 3rem;
}
.navbar {
  background-color: #f2e0cb;
}
.imgPrincipal {
  width: 100%;
  height: auto;
}
.nav-item {
  padding-left: 0.5rem;
  transition: all 0.3s ease-out;
}
.nav-item:hover {
  background-color: #687fcb80;
}
.nav-link:hover {
  color: var(--bs-white);
}
.nav-link {
  color: #687fcb;
  font-weight: bold;
  font-size: 1rem;
}
/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
